#Force www:
RewriteEngine on
RewriteCond %{HTTP_HOST} ^yenswape.herokuapp.com [NC]
RewriteRule ^(.*)$ https://yenswape.herokuapp.com/$1 [L,R=301,NC]

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
